*{
    margin: 0px;
    padding: 0px;
}

.body{
    background-color: brown;
}

/*
.slider{
    display: inline-flex;
    flex-direction: vertical;
}*/

.slider{
    position: absolute;
    margin: 50px;
}

.dot{
    position: relative;

    height: 15px;
    width: 15px;

    left: 100%;

    border-radius: 50%;

    background-color: springgreen;
}

.bar{
    border-radius: 20px;

    height: 5px;
    width: 150px;

    background-color: springgreen;
}